[user]
	email = alfonz@homolik.cz
	name = Denis Homolík
[core]
	excludesfile = /Users/denishomolik/.gitignore_global
	editor = code --wait
[commit]
	template = /Users/denishomolik/.stCommitMsg
[init]
	defaultBranch = main
[alias]
	c = commit
	s = status
  lg = log --oneline
	last = log -1 HEAD
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
