[user]
	email = alfonz@homolik.cz
	name = Denis Homolík
[core]
	excludesfile = /Users/denishomolik/.gitignore_global
	editor = code --wait
[commit]
	template = /Users/denishomolik/.stCommitMsg
[init]
	defaultBranch = main
[alias]
	c = commit
	s = status
  lg = log --oneline
	last = log -1 HEAD
  squash = rebase --autosquash
  lock-reset = checkout HEAD -- package-lock.json
  dangling-commits = "!git fsck --lost-found | grep \"dangling commit\" | awk '{print $3}' | while read -r line; do git log --format=\"%ai %H %s\" -n 1 $line; done | sort"
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
